# api
API_PORT=

# db
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_PORT=
POSTGRES_HOST=

# redis
REDIS_HOST=
REDIS_PORT=

# jwt
JWT_SECRET=
JWT_EXPIRATION_MS=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRATION_MS=

# pgadmin
PGADMIN_EMAIL=
PGADMIN_PASSWORD=
PGADMIN_PORT=

# sonarcube
SONAR_PORT=
SONAR_DB_PASSWORD=

# jenkins
JENKINS_PORT=
JENKINS_AGENT_PORT=

# loki/grafana
LOKI_PORT=
GRAFANA_PORT=
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=
