HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.classpath
.project
.settings/
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Java / Maven ###
*.class
*.log
logs/

### Env / secrets ###
.env
*.env
application-local.properties

### OS ###
.DS_Store
Thumbs.db

### Docker ###
docker/*
!docker/postgres-init/
!docker/postgres-init/**
!docker/seed/
!docker/seed/**
!docker/jenkins/
!docker/jenkins/**
